install
# url --url="http://mirror.rackspace.com/CentOS/7/os/x86_64/"
cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp --hostname=centos7
rootpw --plaintext root
firewall --disabled
selinux --disabled
timezone UTC
unsupported_hardware
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
auth  --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
reboot
user --groups=wheel,adm,systemd-journal --name=centos  --password=centos  --uid=1000 --gid=1000

%packages --nobase
sudo
coreutils
# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
# fix resolv.conf issues
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 << EOF
DEVICE=eth0
BOOTPROTO=dhcp
ONBOOT=yes
TYPE=Ethernet
USERCTL=yes
PEERDNS=yes
IPV6INIT=no
PERSISTENT_DHCLIENT=yes
EOF
%end

%post
exec < /dev/tty3 > /dev/tty3
chvt 3
echo
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"
(
echo "centos        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
/usr/bin/yum -y --enablerepo extras install epel-release deltarpm 
/usr/bin/yum -y update
) 2>&1 | /usr/bin/tee /var/log/post_install.log
chvt 1

%end
