#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# cdrom
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --plaintext root
# System timezone
timezone UTC
# Use network installation
url --url="http://mirror.rackspace.com/CentOS/7/os/x86_64/"

# System language
lang en_US.UTF-8
user --groups=wheel,adm,systemd-journal --name=centos  --password=centos  --uid=1000 --gid=1000
# user --groups=wheel,adm,systemd-journal --name=centos2 --password=centos2 --uid=1001 --gid=1001
# License agreement
eula --agreed
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
firstboot --disable
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=debug
# System services
# services --enabled="NetworkManager,sshd"
unsupported_hardware
# Network information
network --bootproto=dhcp --hostname=centos7
#network  --bootproto=dhcp  --onboot yes --device eth0 --noipv6
# Reboot after installation
reboot
# System bootloader configuration
bootloader --location=mbr
autopart --type=plain --fstype=xfs
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
repo --name="EPEL73" --baseurl="http://download.fedoraproject.org/pub/epel/7/x86_64/"

%packages --excludedocs --nobase
@core
deltarpm
epel-release
sudo
coreutils
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end
